@if (Movie is not null)
{
    <div class="card h-100 border rounded bg-white">
        <img class="card-img-top" src="@($"https://img.omdbapi.com/?apikey=86c39163&i={Movie.imdbID}")" style="width:100px" />
        <div class="card-body">
            <h5>@Movie.Title (@Movie.Year)</h5>
            <h6>Actors</h6>
            <ul class="list-group list-group-flush">
                @foreach (var actor in Movie.Actors.Split(", "))
                {
                    <li class="list-group-item">@actor</li>
                }
            </ul>
            <p class="card-text">Runtime: @Movie.Runtime</p>
            <p class="card-text">Rated: @Movie.Rated</p>
        </div>
    </div>
}
